body {
    background-color: powderblue;
}

.monster-img {
    max-height: 8em;
    object-fit: scale-down;
    padding-top: 12px;
}

.row {
    padding-bottom: 14px;
}

.locked {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0.8;
    background: url("../images/lock.png") no-repeat center;
    background-size: contain;
    padding: 30px;
}


